/* 
                        <---------------- Mobile ---------------->
*/

@media only screen
and (max-width: 541px)
{
    .header {
      position: fixed;
      top: 0;
      width: 96.798%;
      padding:20px 10px 20px 0;
      transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
      z-index: 100;
      backdrop-filter: blur(0px); 
    }

    .header--scrolled {
      background-color: rgba(131, 131, 131, 0.2); 
      backdrop-filter: blur(10px);
    }
    nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    nav h1 {
      color: white;
      margin: 0;
    }

    nav a{
        font-size: 14px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin: 0 10px;
    }

    nav a:hover{
        transition: 1s;
        color: rgb(41, 79, 182);
        text-decoration: underline;
    }

    .theme-toggle-button {
      background: none;
      border: none;
      color: inherit;
      cursor: pointer;
    }
    

    .link.dark-mode{
      color: beige;
    }

}
  

/* 
                        <---------------- Tablet ---------------->
*/

/* 
                        <---------------- Computador ---------------->
*/