body {
    transition: background-color 1s;
}

#themeToggle, 
header, 
.navLink, 
.navLink:hover, 
.homeSubtitle, 
.myName, 
.meDescription, 
.icons, 
.icons:hover, 
i.fa-moon, 
#mouse-scroll span, 
#mouse-scroll .mouse, 
#mouse-scroll .mouse-in, 
.perfil, 
.titleAbout, 
.contAbout, 
.skills, 
.card, 
.cardTitle, 
.card i, 
.modal-content, 
.modal-content .gridName span, 
.modal-content .gridIcons .devicon-github-original, 
.modal-content .gridIcons .devicon-markdown-original, 
.linkSite, 
.cardDescription, 
.viewProject, 
.cardGit, 
.up, 
.up i, 
.down, 
.down i, 
.cardGithub, 
.cardProjet, 
.gridIcons, 
.titleContact, 
.nameEmail, 
.message, 
.subTitleContact, 
input[type="submit"], 
input[type="submit"]:hover {
    transition: color 1s, background-color 1s, border 1s;
}

/* Adiciona a transição específica para navLink::before */
.navLink::before {
    content: "";
    transition: background-color 1s;
}

.dark-theme {
    background-color: #11192B; 
}

.dark-theme #themeToggle {
    color: #fff;
}

.dark-theme header {
    background-color: #11192B;
}

.dark-theme .navLink {
    color: #fff; 
}

.dark-theme .navLink:hover {
    color: #AF53F8; 
}

.dark-theme .homeSubtitle {
    color: #AF53F8;
}

.dark-theme .navLink::before {
    background-color: #AF53F8;
}

.dark-theme .myName {
    color: #fff;
}

.dark-theme .meDescription {
    color: #fff;
}

.dark-theme .icons {
    color: #AF53F8;
}

.dark-theme .icons:hover {
    color: #472365;
}

.dark-theme i.fa-moon {
    color: #AF53F8;
}

.dark-theme #mouse-scroll span {
    border-right: 2px solid #AF53F8; 
    border-bottom: 2px solid #AF53F8;
}

.dark-theme #mouse-scroll .mouse {    
    border: 2px solid #AF53F8;
}

.dark-theme #mouse-scroll .mouse-in {
    background: #AF53F8;
}

.dark-theme .perfil {
    border: 7px solid #AF53F8;
}

.dark-theme .titleAbout {
    color: #AF53F8;
}

.dark-theme .contAbout {
    color: #fff;
}

.dark-theme .skills {
    color: #AF53F8;
}

.dark-theme .card {
    border: 3px solid #AF53F8;
}

.dark-theme .cardTitle {
    color: #fff;
}

.dark-theme .card i {
    color: #AF53F8;
}

.dark-theme .modal-content {
    background-color: #191f2f;
    border: 3px solid #AF53F8;
}

.dark-theme .modal-content .gridName span {
    color: #AF53F8;
}

.dark-theme .modal-content .gridIcons .devicon-github-original {
    color: #fff;
}

.dark-theme .modal-content .gridIcons .devicon-markdown-original {
    color: #fff;
}

.dark-theme .linkSite {
    border: 3px solid #AF53F8;
}

.dark-theme .cardDescription {
    color: #a4a4a4;
}

.dark-theme .viewProject {
    color: #fff;
}

.dark-theme .cardGit {
    border: 3px solid #AF53F8;
}

.dark-theme .up {
    color: #fff;
}

.dark-theme .up i {
    color: #AF53F8;
}

.dark-theme .down {
    background-color: #ae53f83a;
    color: #fff;
}

.dark-theme .down i {
    color: #AF53F8;
}

.dark-theme .cardGithub {
    border: 3px solid #AF53F8;
}

.dark-theme .cardProjet {
    border: 3px solid #AF53F8;
}

.dark-theme .gridIcons {
    color: #AF53F8;
}

.dark-theme .titleContact {
    color: #AF53F8;
}

.dark-theme .nameEmail {
    color: #fff;
}

.dark-theme .message {
    color: #fff;
}

.dark-theme .subTitleContact {
    color: #ffffff;
}

.dark-theme input[type="submit"] {
    background-color: transparent;
    color: #AF53F8;
    border: 2px solid #AF53F8;
}

.dark-theme input[type="submit"]:hover {
    background-color: #AF53F8;
    color: white;
}
