.modal-content .gridIcons .fa-html5{color: #d36b20;}
.modal-content .gridIcons .fa-css3-alt{color: #2094d3;}
.modal-content .gridIcons .fa-vuejs{color: #20d37f;}
.modal-content .gridIcons .fa-react{color: #20c7d3;}
.modal-content .gridIcons .fa-bootstrap{color: #8820d3;}
.modal-content .gridIcons .devicon-vitejs-plain{color: #c36eff;}

.modal-content .gridIcons .devicon-postgresql-plain{color: #1550e6;}
.modal-content .gridIcons .devicon-microsoftsqlserver-plain{color: #df3c3c;}
.modal-content .gridIcons .devicon-mysql-original{color: #1550e6;}
.modal-content .gridIcons .devicon-django-plain{color: #133818;}

.modal-content .gridIcons .devicon-python-plain{color: #306998;}
.modal-content .gridIcons .devicon-javascript-plain{color: #e1c406;}
.modal-content .gridIcons .devicon-c-plain{color: #00599c;}
.modal-content .gridIcons .devicon-cplusplus-plain{color: #00599c;}
.modal-content .gridIcons .devicon-php-plain{color: #8e3ac9;} 

.modal-content .gridIcons .devicon-git-plain{color: #f34f29;}
.modal-content .gridIcons .devicon-github-original{color: #212121;}
.modal-content .gridIcons .devicon-nodejs-plain{color: #0c560c;}
.modal-content .gridIcons .devicon-npm-original-wordmark{color: #f61f1f;}
.modal-content .gridIcons .devicon-markdown-original{color: #000000;}
.modal-content .gridIcons .devicon-vscode-plain{color: #006aff;}
.modal-content .gridIcons .devicon-figma-plain{color: #ea9a45;}
.modal-content .gridIcons .devicon-arduino-plain{color: #0fb271;}