@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
}

html,
body {
  background: #f8f2de;
  margin: 0;
  padding: 0;
  transition: background-color 1s;
}

/* Layout responsivo */
header {
  position: fixed;
  display: flex;
  background-color: #f8f2de;
  width: 100%;
  height: 8%;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

main {
  padding-top: 3%;
}

@media only screen and (max-width: 768px) {
  header {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    width: 30%;
    margin: 5% 0 2% 5%;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
  }
  .navLink {
    display: block;
    padding: 2% 0;
    margin: 0;
    text-align: center;
  }
}

footer {
  display: grid;
  grid-template-columns: 50% 50% ;
  font-size: 11px;
  height: 100px;
  background-color: #000937e6;
  color: #c3c3c3;
}

.col-md-5 {
  margin-left: 10%;
}

select {
  width: 100%;
  padding: 2px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #61AB41;
}

option{
  background-color: #f8f2de;
  color: #494949;
}


.social-media {
  width: 40%;
  margin-left: -15px;
  padding: 0;
}

.social-media i {
  color: #c3c3c3;
}

ul {
  margin: 0;
  margin-right: 10px;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-left: 15px;
  font-size: 18px;
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #404040;
}

.navLink {
  color: #404040;
  position: relative;
  text-decoration: none;
  transition: color 1s;
}

.navLink:hover {
  color: #61AB41;
}

.navLink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #5ab334;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out, background-color 1s;
}

.navLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.logo {
  width: 40px;
  margin-left: 2%;
}

.logo:hover {
  cursor: pointer;
}

.homeSubtitle {
  margin-bottom: 7px;
  color: #61AB41;
  line-height: 1;
  backdrop-filter: blur(10px);
  opacity: 0;
  transform: translateX(-60px);
  animation: slideIn 1.3s forwards;
}

@keyframes slideIn {
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.myName {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0;
  transform: translateX(-60px);
  animation: slideName 1.1s forwards;
  animation-delay: 1.3s;
}

@keyframes slideName {
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.meDescription{
  opacity: 0;
  transform: translateX(-60px);
  animation: slideName 1.1s forwards;
  animation-delay: 2.4s;
}

@keyframes slideName {
  to {
      transform: translateX(0);
      opacity: 1;
  }
}
.icons {
  color: #61AB41;
  font-size: 30px;
  margin-right: 15px;
}

.icons:hover {
  color: #1b2c13;
}

.iconsContact{
  display: flex;
  align-items: center;
  width: 45%;
  text-decoration: none;
  font-size: 20px;
}
.iconsContact i{
  color: #61AB41;
  margin-right: 15px;
}

.iconsContact p{
  color: #163014;
}

.sections {
  display: inline-flex;
  width: 100%;
  height: 548px;
  justify-content: space-between;
}

.About {
  display: inline-flex;
  width: 100%;
  height: 548px;
  justify-content: space-between;
}

.section1 {
  width: 50%;
  margin-top: 10%;
  margin-left: 5%;
}

.section2 {
  display: flex;
  width: 50%;
  justify-content: end;
}

.section4 {
  width: 50%;
  margin-top: 10%;
  margin-left: 5%;
}

.background {
  display: flex;
  transform: scaleX(-1);
}

.titleAbout {
  color: #61AB41;
  margin-left: 30%;
  margin-right: 5%;
  margin-bottom: 0;
}

.contAbout {
  margin-left: 30%;
  margin-right: 10%;
}

#themeToggle:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
}

.section3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.perfil {
  position: absolute;
  width: 300px;
  border: 7px solid #61AB41;
  border-radius: 50%;
}

.skills {
  margin-left: 10%;
  color: #61AB41;
}

.cardTitle {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5%;
}

.cardsSkills {
  display: grid;
  margin-left: 5%;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.card {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 3px solid #61AB41;
  border-radius: 10px;
  margin-bottom: 10%;
}

.card:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
}

.Cards {
  display: flex;
  margin-bottom: 2%;
}

.cardProj {
  display: flex;
  width: 60%;
  padding: 1%;
  height: 250px;
  margin-left: 5%;
  border: 3px solid #61AB41;
  border-radius: 10px;
}

.cardGit {
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 2%;
  text-decoration: none;
  color: #000000;
  border: 3px solid #61AB41;
  border-radius: 10px;
}

.cardGit:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.05);
}

.cardProjet {
  display: flex;
  width: 60%;
  padding: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 250px;
  margin-left: 2%;
  border: 3px solid #61AB41;
  border-radius: 10px;
}

.cardGithub {
  width: 25%;
  margin-left: 5%;
  text-decoration: none;
  color: #000000;
  border: 3px solid #61AB41;
  border-radius: 10px;
}

.cardGithub:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.05);
}

.viewProject {
  width: 40%;
  font-size: 10px;
}

.Contact {
  margin-top: 10%;
  margin-left: 10%;
}

/* Estilo para o formulário */
form {
  display: flex;
}

.titleContact {
  color: #61AB41;
}

.nameEmail {
  width: 100%;
}

.message {
  width: 100%;
  display: block;
}

/* Estilo para os rótulos */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilo para o campo de mensagem */
textarea {
  width: 90%;
  height: 130px;
}

/* Estilo para o botão de envio */
input[type="submit"] {
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #4CAF50;
  font-weight: bold;
  border: 2px solid #4CAF50;
  border-radius: 100px;
  cursor: pointer;
}

/* Estilo para o botão de envio quando o cursor está sobre ele */
input[type="submit"]:hover {
  transition: 0.5s;
  background-color: #4CAF50;
  color: white;
}

.linkSite {
  display: flex;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
  width: 60%;
  padding: 1%;
  height: 250px;
  margin-left: 5%;
  border: 3px solid #61AB41;
  border-radius: 10px;
}

.linkSite:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.05);
}

.imgProject {
  width: 65%;
  border-radius: 2%;
}

.imgProjectA {
  width: 50%;
  border-radius: 2%;
}

.cardDescription {
  color: #454545;
  margin-left: 5%;
  width: 100%;
  font-size: 15px;
}

.gridIcons {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  text-align: center;
}

.up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10%;
}

.linkApi {
  color: #007446;
}

.up i {
  font-size: 35px;
  color: #61AB41;
}

.down {
  align-items: center;
  height: 65%;
  padding: 12px;
  padding-top: 20px;
  border-radius: 20px;
  background-color: #61ab412c;
  font-size: 15px;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.down i {
  font-size: 27px;
  margin-top: 5%;
  margin-right: 5%;
  color: #61AB41;
}

.card i {
  font-size: 30px;
  margin-bottom: 25px;
  color: #61AB41;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 3px solid #61AB41;
  width: 25%;
}

.modal-content .gridIcons {
  display: flex;
  width: 15%;
  color: #61AB41;
  margin-bottom: 15px;
  font-size: 30px;
  flex-direction: column;
  align-items: flex-start;
}

.modal-content .gridContainer {
  display: flex;
}

.modal-content .gridIcons i {
  margin-bottom: 5px;
}

.modal-content .gridName {
  width: 80%;
  color: #61AB41;
}

.modal-content .gridName span {
  display: flex;
  width: 80%;
  color: #61AB41;
  margin-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#mouse-scroll {
  display: block;
  width: 10%;
  margin-left: 30%;
  margin-top: 20%;
  left: 75%;
  top: 80px;
  z-index: 999;
}

#mouse-scroll span {
  display: block;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-right: 2px solid #61AB41;
  border-bottom: 2px solid #61AB41;
  margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  border: 2px solid #61AB41;
  top: 170px;
}

#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}

#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
  animation: mouse-scroll 1s infinite;
}

#mouse-scroll .down-arrow-1 {
  animation-delay: .1s;
  animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
  animation-delay: .2s;
  animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
  animation-delay: .3s;
  animation-direction: alternate;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #61AB41;
  position: relative;
}

#mouse-scroll .mouse-in {
  animation: animated-mouse 1.2s ease infinite;
}

@keyframes animated-mouse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
