@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    font-family: "Kodchasan", sans-serif;
    font-weight: 600;
    font-style: normal; 
}

html,
body{
    background: #F8F2DE;
    margin: 0;
}

header{
    position: fixed;
    display: flex;
    background-color: #F8F2DE;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

ul{
    margin: 0;
    margin-right: 10px;
}

li{
    display: inline-block;
    list-style-type: none;
    margin-left: 15px;
    font-size: 18px;
    font-family: "Kodchasan", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #404040;
} 

.navLink {
    color: #404040;
    position: relative;
    text-decoration: none;
  }

.navLink:hover{
    transition: 1s;
    color: #61AB41;
}
  
  .navLink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #61AB41;
    bottom: -3px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .navLink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }


.logo{
    width: 40px;
    margin-left: 2%;
}

.homeSubtitle{
    margin-bottom: 7px;
    color: #61AB41;
    line-height: 1;
    backdrop-filter: blur(10px);
}

.myName{
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.icons{
    color: #61AB41;
    font-size: 30px;
    margin-right: 15px;
}
.icons:hover{
    transition: 1s;
    color: #1b2c13;
}

.sections{
    display: inline-flex;
    width: 100%;
    height: 548px;
    justify-content: space-between;
}

.section1{
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;

}

.section2{
    display: flex;
  width: 50%;
  justify-content: end;
}

.section4{
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;

}

.background{
    display: flex;
    transform: scaleX(-1);
}

.titleAbout{
    color: #61AB41;
    margin-left: 30%;
    margin-right: 5%;
    margin-bottom: 0;
}

.contAbout{
    margin-left: 30%;
    margin-right: 10%;
}

.section3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.perfil{
    position: absolute;
    width: 300px;
    border: 7px solid #61AB41;
    border-radius: 50%;
}

.skills{
    margin-left: 10%;
    color: #61AB41;
}

.cardTitle{
    margin-left: 5%;
}

.cardsSkills{
    display: grid;
    margin-left: 5%;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.card{
    width: 80%;
    border: 3px solid #61AB41;
    border-radius: 10px;
    margin-bottom: 10%;
}

.card:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);

}

.gridIcons{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: center;
}

.card i{
    font-size: 30px;
    margin-bottom: 25px;
    color: #61AB41;
}


  #mouse-scroll {
    display: block;
    width: 10%;
    margin-left: 30%;
    margin-top: 20%;
    left: 75%;
    top: 80px;
    z-index: 999;
  }
  #mouse-scroll span{
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         transform: rotate(45deg);
    border-right: 2px solid #61AB41; 
    border-bottom: 2px solid #61AB41;
    margin: 0 0 3px 5px;
  }
  #mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #61AB41;
    top: 170px;
  }
  #mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
  #mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite; 
      -moz-animation: mouse-scroll 1s infinite;
  }
  #mouse-croll .down-arrow-1 {
     -webkit-animation-delay: .1s; 
     -moz-animation-delay: .1s;
     -webkit-animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s; 
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-3 {
     -webkit-animation-delay: .3s;
     -moz-animation-dekay: .3s;
     -webkit-animation-direction: alternate;
  }
  #mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: #61AB41;
    position: relative;
  }
  #mouse-scroll .mouse-in {
   -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
  }
  
  @-webkit-keyframes animated-mouse {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
       opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    } 
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }



/* Tema Escuro */

.dark-theme {
    transition: 1s;
    background-color: #11192B; 
}

.dark-theme header{
    transition: 1s;
    background-color: #11192B;
}

.dark-theme .navLink {
    transition: 1s;
    color: #fff; 
}

.dark-theme .navLink:hover {
    transition: 1s;
    color: #AF53F8; 
}

.dark-theme .homeSubtitle{
    transition: 1s;
    color: #AF53F8;
}

.dark-theme  .navLink::before{
    transition: 1s;
    background-color: #AF53F8;
}

.dark-theme .myName{
    transition: 1s;
    color: #fff;
}

.dark-theme .meDescription{
    transition: 1s;
    color: #fff;
}

.dark-theme .icons{
    transition: 1s;
    color: #AF53F8;
}

.dark-theme .icons:hover{
    transition: 0.5s;
    color: #472365;
}


.dark-theme i.fa-moon {
    transition: 1s;
    color: #AF53F8;
}

.dark-theme  #mouse-scroll span{
    transition: 1s;
    border-right: 2px solid #AF53F8; 
    border-bottom: 2px solid #AF53F8;
}

.dark-theme #mouse-scroll .mouse {    
    transition: 1s;
    border: 2px solid #AF53F8;
}

.dark-theme #mouse-scroll .mouse-in {
    transition: 1s;
    background: #AF53F8;
}
  