@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Mukta", sans-serif;
    background-color: rgb(255, 248, 240);
    color: #333; /* Cor de texto padrão para melhor contraste */
}


.corpo.light-mode {
  background-color: rgb(255, 248, 240);
  color: #000;
  transition: background-color 0.3s, color 0.3s; 
}

.corpo.dark-mode {
  background-color: #121212;
  color: #fff;
  transition: background-color 0.3s, color 0.3s; 
}

.project-card h2{
  color: black;
}
